*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 65%;
}
body{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}